@import "tailwindcss";

:root {
  --background: #F9FBFF;
  --cards: #E6F2FF;
  --text: #1C1C1C;
  --secundary-text: #4A4A4A;
  --primary-color: #6DBCFD;
  --hover-color: #98D2FF;
  --button: #3FA9F5;
  --border: #D2E6F9;
  --secundary-border: #4A4A4A;
  --secondary-background: #D0E7FF;
}

.dark {
  --background: #0E1117;
  --cards: #1A1F27;
  --text: #F2F6FF;
  --secundary-text: #A8B3C9;
  --primary-color: #6DBCFD;
  --hover-color: #3FA9F5;
  --button: #3FA9F5;
  --border: #2A3442;
  --secundary-border: #A8B3C9;
  --secondary-background: #222A36;
}

body {
  background: var(--background);
  color: var(--text);
  font-family: Poppins, sans-serif;
}
